@media (max-width: 1200px)
    .container
        padding: 0 20px
    .main .slick-prev 
        left: 0
    .main .slick-dots
        left: 2%
        transform: translateX(0)
    .main .slick-next
        right: 0
        left: 116px


@media (max-width: 991px)
    .main__title
        font-size: 31px
    .main__dscr 
        font-size: 20px


@media (max-width: 767px)
    .header
        .countrys
            flex-wrap: wrap
        .country
            min-width: 230px
    .menu 
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0,0,0,.8)
        transition: .6s all
        z-index: 10;
        &_active
            left: 0
        &__item
            padding-right: 0
            border: none
            margin: 10px 0
    .ham 
        display: block
    .main
        height: 435px
        .solutions__slide img
            width: 100%
        .slick-dots
            bottom: 28px
        .slick-prev, .slick-next
            bottom: 24px
        .slick-dots
            left: 3%
        &__button
            margin-bottom: 63px
            width: 200px
            height: 43px
        &__title
            margin-bottom: 16px
            font-size: 25px
        &__dscr
            margin-bottom: 16px
            font-size: 17px
    .prengi
        &__descr
            position: relative
        &__wrapper_top
            margin-bottom: 0
        &__text    
            font-size: 35px
    h2
        font-size: 23px
    .solutions 
        .slick-list
            background: inherit


// @media (max-width: 575px)


// @media (max-width: 425px)

